*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#headerbar 
{
    width: 100%;
    overflow: hidden;
    height: 64px;
    display: block;
    background-color: #333;
    text-align: center;
    line-height: 64px;
}

#body
{
    width: 100%;
    background-color: grey;
    position: absolute;
    top: 64px;
    bottom: 0;
}

#buttons
{
    width: 100%;
    background-color: grey;
    height: 64px;
    color: white;
    margin: auto;
    width: 50%;
    padding: 5px;
    
}

#dog
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.selected
{
    background-color: yellow;
    color: #eee;
}



