*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#headerbar 
{
    width: 100%;
    overflow: hidden;
    height: 64px;
    display: block;
    background-color: #333;
    text-align: center;
    line-height: 64px;
}

#body
{
    width: 100%;
    position: absolute;
    top: 64px;
    bottom: 0;
    background-image: linear-gradient(180deg,#43cea2,#185a9d);
}

#img
{
    text-align: center;
}

#buttons
{
    width: 80%;
    color: white;
    margin: auto;
    padding: 5px;
    background-image: black;
}

#dog
{
   height: 300px;
   border-radius: 10%;
   box-shadow: 10px 10px grey;
}

.selected
{
    background-color: black;
    color: #eee;
}

button
{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}


