*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#headerbar 
{
    width: 100%;
    overflow: hidden;
    height: 64px;
    display: block;
    background-color: #333;
    text-align: center;
    line-height: 64px;
}

#body
{
    width: 100%;
    position: absolute;
    top: 64px;
    background-image: linear-gradient(180deg,#43cea2,#185a9d);
}

#img
{
    text-align: center;
    height: 350px;
}

#buttons
{
    width: 80%;
    color: white;
    margin: auto;
    padding: 5px;
    background-image: black;
}

#dog
{
   height: 300px;
   border-radius: 10%;
   box-shadow: 8px 8px black;
}

.selected
{
    background-color: black;
    color: #eee;
}

button
{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

#comments {
    width: 90%;
    border: solid 2px black;
    background-color: white;
    margin: auto;
}

.comment {
    border: solid 1px gray;
    margin: 15px;
    padding: 15px;
}

.error {
    color:red;
}

a{
    color: blue;
    cursor: pointer;
}
